<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/div.ejs") %>

  <div class="not-found content">
    OOPS, page not found :)
  </div>

  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/script.ejs") %>
</body>
</html>