<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/div.ejs") %>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here you should find useful information about us as a company or a blog or whatever this site should be.</p>
      <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/script.ejs") %>
</body>
</html>